#profileButton{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-background-image: url("../img/default_profile.png");
    -fx-font-family: "monospace";
}

#profileButton:hover{
    -fx-background-radius: 8;
    -fx-background-color: #8FBBBC;
}

#nameLabel{
    -fx-font-size: 14px;
    -fx-font-family: "monospace";
}

#dateLabel{
    -fx-padding: 0 0 0 50;
    -fx-font-size: 14px;
    -fx-font-family: "monospace";
    -fx-font-weight: bold;
}

#dateOverlayBox{
    -fx-background-color: #5f9ea0;
    -fx-spacing: 10;
    -fx-alignment: "center-left";
}

#profileOverlayBox{
    -fx-background-color: #5f9ea0;
    -fx-spacing: 10;
    -fx-alignment: "center-right";
}
